## Install `simple_salesforce`  module

Remove the comment symbol (#) to run `!pip install simple_salesforce`. Once this module is installed, you can comment it out again.

In [1]:
#!pip install simple_salesforce

## Import dependencies

In [2]:
import json
from sqlalchemy import create_engine
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

## Import configuration variables

In [3]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [4]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [5]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [6]:
student_data = pd.read_sql("SELECT * FROM course", conn)
student_data.head(30)

,ID_Course,CourseCode,CourseName,CreditHours,BootCampCourse
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0
5,6,CIS-438,Database Administration,5,0
6,7,CIS-430,Business Systems Programming I,5,0
7,8,CIS-435,Business Systems Programming II,5,0

## Transform Data

In [7]:
#student_data['FullName'] = student_data['FirstName'].str.cat(student_data['LastName'], sep=" ")
#student_data['Company'] = 'Dartling University'
#student_data = student_data.rename(columns={'FullName':'Name'})
#student_load_df = student_data[['LastName','FirstName','Company']]
#student_load_df.head()

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [8]:
student_data = student_data.to_dict('records')
student_data

[{'ID_Course': 1,
  'CourseCode': 'BC-DATAVIZ',
  'CourseName': 'Data Visualization and Analytics',
  'CreditHours': 12,
  'BootCampCourse': 1},
 {'ID_Course': 2,
  'CourseCode': 'BC-WEBDEV',
  'CourseName': 'Full Stack Web Development',
  'CreditHours': 12,
  'BootCampCourse': 1},
 {'ID_Course': 3,
  'CourseCode': 'BC-UIUX',
  'CourseName': 'User Interface/User Experience',
  'CreditHours': 12,
  'BootCampCourse': 1},
 {'ID_Course': 4,
  'CourseCode': 'CIS-349',
  'CourseName': 'Introduction to Databases',
  'CreditHours': 5,
  'BootCampCourse': 0},
 {'ID_Course': 5,
  'CourseCode': 'CIS-405',
  'CourseName': 'Database Programming',
  'CreditHours': 5,
  'BootCampCourse': 0},
 {'ID_Course': 6,
  'CourseCode': 'CIS-438',
  'CourseName': 'Database Administration',
  'CreditHours': 5,
  'BootCampCourse': 0},
 {'ID_Course': 7,
  'CourseCode': 'CIS-430',
  'CourseName': 'Business Systems Programming I',
  'CreditHours': 5,
  'BootCampCourse': 0},
 {'ID_Course': 8,
  'CourseCode': 'CIS-435',
  'CourseName': 'Business Systems Programming II',
  'CreditHours': 5,
  'BootCampCourse': 0}]

## Example of inserting rows individually

Loop through the DataFrame and assemble indiviudal dictionaries

In [9]:
for index, row in student_data.iterrows():

    record = {
        'LastName': row['LastName'],
        'FirstName': row['FirstName'],
        'Company': 'Dartling University'
    }
    
    try:
        sf.Lead.create(record)
    except Exception as e:
        print(e)

AttributeError: 'list' object has no attribute 'iterrows'

## Example of inserting rows in bulk

In [ ]:
try:
    sf.bulk.Lead.insert(student_load)
except Exception as e:
    print(e)